/* color */
.t-red {
    color: #FF3E41;
}

.bg-red {
    background-color: #FF3E41;
}

.t-blue {
    color: #51CFED;
}

.bg-blue {
    background-color: #51CFED;
}

.t-light {
    color: #F8F2F0;
}

.bg-light {
    background-color: #F8F2F0;
}

.t-dark {
    color: #060315;
}

.bg-dark {
    background-color: #060315;
}

img {
    width: 100%;
    height: 100%;
}

/* css */
a {
    text-decoration: none;
    display: inline-block;
}

.navber {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;

}

.nav {
    border-top: 6px solid #FF3E41;
}

.navbar-brand {
    padding: 20px 0;
    font-size: 30px;
    text-transform: capitalize;
}

.nav-item {
    position: relative;
    font-size: 15px;
    text-transform: uppercase;
    color: #060315;
    padding: 20px 0;
    margin-right: 20px;
}

.nav-item::before {
    position: absolute;
    content: "";
    width: 0;
    height: 6px;
    top: -17px;
    left: 50%;
    background: #FFFFFF;
    transition: .5s;
}

.nav-item:hover {
    color: #FF3E41;

}

.nav-item:hover::before {
    width: 100%;
    left: 0;
}

.nav-item.active {
    color: #FF3E41;
}

.nav-item.active::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 6px;
    top: -17px;
    left: 0;
    background: #FFFFFF;
    transition: .5s;

}

.nav-text {
    font-weight: bold;
}

/* slider */
.item {
    position: relative;
    max-height: 600px;
    width: 100vw;
}

.item::after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    content: '';
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.slider-caption {
    z-index: 200;
}

.owl-nav {
    position: absolute;
    top: 0;
    right: 60px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.owl-nav>button {
    height: 50px;
    width: 50px;
    border-radius: 50% !important;
    border: 1px solid white !important;
    color: white !important;

}

.owl-nav>button>span {
    font-size: 20px !important;
    font-weight: bold !important;

}

.owl-nav>button:hover {
    background: #FF3E41;
    color: white;
    border: 1px solid #FF3E41 !important;
    animation-name: hello;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes hello {
    0% {
        background: rgb(255, 62, 65, 0.25);
    }

    50% {
        background: rgb(255, 62, 65, 0.5);
    }

    75% {
        background: rgb(255, 62, 65, 0.75);
    }

    100% {
        background: rgb(255, 62, 65, 1);
    }
}

.about {
    margin: 100px 0px;
}

.about_image_box {
    min-height: 400px;
}

/* 
.about_image:hover {
    scale: 1.25;
    transition: all 0.4s;
} */

.about-icon {
    font-size: 50px;
    color: #FF3E41;
    font-weight: 900;
}

.single-service {
    box-shadow: 0px 0px 15px #dedede;

}

.service-image-container {
    width: 100%;
    height: auto;
    overflow: hidden;

}

.single-service>.service-image-container img {
    transition: scale 0.4s;
}

.single-service>.service-image-container img:hover {
    scale: 1.08;

}

/* .service_read_more_btn{
    position: relative;
}
.service_read_more_btn:hover i{
    background-color:orange;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    transition: all 0.3s;
}
.service_read_more_btn > i{
    padding: 10px;
    width: 50px;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    z-index: 2;
    position: absolute;
    left: 0;
    top: -26px;
}
.service_read_more_text{
    position: absolute;
    background-color:orange;
    padding: 10px;
    width: 142px;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    z-index: 1;
    top: -26px;
    left: -50px;
    transition: 0.3s;
    display: none;

}
.service_read_more_btn:hover .service_read_more_text{
    left: 50px;
    transition: left 0.3s;
    display: block;
}
 */
 .read_more_btn{
    height: 50px;
    padding: 10px;
    width: 100%;
    position: relative;
    overflow: hidden;
 }
.read_more_btn>i {
    padding: 10px;
    width: 50px;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: all .5s;
}

.read_more_text {
    padding: 10px;
    padding-left: 54px;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
    font-size: 20px;
    font-weight: bold;
    background: #FF3E41;
    color: white;
    position: absolute;
    top: 0;
    left: -117px;
    z-index: 1;
    transition: all .5s;
   
}
.single-service:hover .read_more_text {
    left: 0;
}

.read_more_btn:hover i{
    background: #51CFED;
}
.read_more_btn:hover .read_more_text{
    background: #51CFED;
}


/* feature */
.feature{
    margin: 100px 0 ;
}
.feature_image_box{
    min-height: 400px;
}
.feature-icon{
    font-size: 50px;
}


/* plan */

.price-item{
    box-shadow: 0px 0px 15px #dedede;

}

.price-item:hover .read_more_text {
    left: 0;
}

/* qoute */
.qoute-form{
    background: #ffd4d5;
}

.btn-icon{
    display: inline-block;
}

/* testimonial */
.single-testimonial{
    box-shadow: 0px 0px 15px #dedede;
}

/* footer */

.btn-box{
    gap: 5px;
}
.btn-social{
    border-radius: 50%;
}

.btn-link{
    color: white;
    text-decoration: none;
}

.footer-box a{
    text-align: left;
    display: inline-block;
}